{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Asante Sana!
{% endblock %}

{% block content %}

<!--<p style="color:red"><strong>Ikiwa una wasiwasi kuhusu maswali kwenye sehemu hii, au ikiwa unahisia za huzuni,-->
<!--    hofu, au wasiwasi baada ya kujibu, unaweza kumjulisha [FO_Male] au [FO_Female].-->
<!--    Wanaweza kusaidia kukuelekeza kwenye vituo zilizoko kwenye jamii yako.</strong></p>-->

<!--<p>If you have concerns about the questions in this module, or if you are feeling sad, afraid,-->
<!--    or anxious after answering them, you can let [FO_Male] or [FO_Female] know.-->
<!--    They can help direct you toward resources in your community.</p>-->



<p style="color:red"><strong>Ikiwa una wasiwasi kuhusu maswali kwenye sehemu hii, au ikiwa unahisia za huzuni, hofu, au wasiwasi baada ya kujibu,
Unaweza pia kurejelea fomu ya idhini uliosahihisha. Ina nambari za simu ambazo unaweza kupiga ikiwa utahisi umekasirika au kutikiswa</strong></p>

<p>If you have concerns about the questions in this module, or if you are feeling sad, afraid, or anxious after answering them. you can also refer to the consent form you signed. It has phone numbers you can call if you are feeling upset or shaken up.</p>

<!--<p style="color:red"><strong>Unaweza pia kurejelea fomu ya idhini uliosahihisha.-->
<!--    Ina nambari za simu ambazo unaweza kupiga ikiwa utahisi umekasirika au kutikiswa</strong></p>-->

<!--<p> You can also refer to the consent form you signed. It has phone numbers you can call if you are feeling upset or shaken up.</p>-->

<p><strong>Press "Next."</strong></p>

    {% next_button %}
{% endblock %}


