{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Asante Sana!
{% endblock %}

{% block content %}

<p style="color:red"><strong>Asante kwa majibu yako, tunakushukuru sana kuwa umechukuwa muda kufikiri kuhusu maswala haya magumu.
    Kama ukumbusho, kila kitu unachofanya na kusema katika utafiti huu ni siri;
    hakuna mtu, hata maafisa hawa wa maabara ambao watajua kuhusu jibu ulizo peana,
    na hakuna data inayoweza kujumuisha habari inayoweza kuashiria wewe ni nani.</strong></p>

<p>Thank you for your responses, we greatly appreciate you thinking about these difficult issues.
    As a reminder, everything you do and say in this study is confidential; no one, not even the lab officers,
    will ever know what you answered, and no data will ever include information that could indicate who you are.</p>

<p><strong>Press "Next."</strong></p>
    {% next_button %}
{% endblock %}


