{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Audio 1
{% endblock %}

{% block content %}

<p style="color:red"><strong>Sasa utasikiza sauti iliyo nakiliwa ya hadithi</strong></p>

<p style="color:red"><strong>Hadithi inaelezea hali ambayo mtu anakutana  vurugu na lazima afanye uamuzi.</strong></p>

<p style="color:red"><strong>Tafadhali sikiza hadithi hii kwa makini; utaulizwa maswali juu yake baada ya rekodi kumalizika</strong></p>

<p style="color:red"><strong>Valia headphones zako na ubonyeza "play" wakati uko tayari kusikiliza.</strong></p>

<p>Next you will listen to an audio recording of a story</p>

<p>The story describes a situation where a person is experiencing violence and has to make a decision.</p>

<p>Please listen carefully to the story; you will be asked questions about it after the recording is finished</p>

<p>Put on your headphones and press “play” when you are ready to listen.</p>


<p><strong>Press "Next."</strong></p>

    {% next_button %}
{% endblock %}
