{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p style="color:red"><strong>Sasa utajibu maswali kadhaa juu ya hadithi ambayo umesikia tu. Utahitaji kujibu maswali kadhaa haraka. Kuwa tayari kufanya uamuzi wa haraka.</strong></p>

<p>Now you will answer some questions about the story you just heard. You will need to answer some questions quickly. Be prepared to make a fast decision.</p>


<p><strong>Press "Next."</strong></p>

    {% next_button %}
{% endblock %}
